@font-face {
  font-family: 'font-1';
  src:  url('../fonts/font-1.eot?gkv8gj');
  src:  url('../fonts/font-1.eot?gkv8gj#iefix') format('embedded-opentype'),
  url('../fonts/font-1.ttf?gkv8gj') format('truetype'),
  url('../fonts/font-1.woff?gkv8gj') format('woff'),
  url('../fonts/font-1.svg?gkv8gj#font-1') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'font-1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-i-menu-delete:before {
  content: "\e90f";
}
.ic-i-add:before {
  content: "\e900";
}
.ic-i-arrow-left:before {
  content: "\e901";
}
.ic-i-arrow-more:before {
  content: "\e902";
}
.ic-i-arrow--right:before {
  content: "\e903";
}
.ic-i-email:before {
  content: "\e904";
}
.ic-i-Enclosure:before {
  content: "\e905";
}
.ic-i-help:before {
  content: "\e906";
}
.ic-i-home:before {
  content: "\e907";
}
.ic-i-inputbox-arrow_16:before {
  content: "\e908";
}
.ic-i-menu:before {
  content: "\e909";
}
.ic-i-message:before {
  content: "\e90a";
}
.ic-i-search:before {
  content: "\e90b";
}
.ic-i-switch:before {
  content: "\e90c";
}
.ic-i-user:before {
  content: "\e90d";
}
.ic-i-write-mails:before {
  content: "\e90e";
}

