/* 组件：列表上方搜索
========================================================================================= */
.search-nav {height:60px; margin-top:14px; border-bottom: solid 1px #e9edf2; text-align: left; color: #8c949b}
.search-nav i{font-size: 15px}
.search-nav .name{border: none; height: 36px; line-height: 36px;border-radius: 6px; padding-left: 6px; padding-right: 6px; background: #f7f7f7}
.search-nav span{display: block; margin-left: 6px; margin-right: 6px; display: inline-block }


/* 组件：列表上方icons
========================================================================================= */
.icon-nav {height:42px; border-bottom:solid 1px #e9edf2;}
.icon-nav ul li{padding-bottom: 0; margin-top:8px;}
.icon-nav .btn {display:block; float:left;padding-left: 10px; padding-right: 10px;}
.icon-nav .rt{width:126px;float: right}

/* 组件：模态框
========================================================================================= */
/*锁屏背景*/
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}

.enlarge{width: 20px; height: 20px; margin-top:10px; float: right; }
.shrink{width: 20px; height: 20px; margin-top:10px; float: right;}


@-webkit-keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.rodal-flip-enter {
    -webkit-animation: rodal-flip-enter both ease-in;
    animation: rodal-flip-enter both ease-in;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.change{
    background-color: #a295f4;
    border-radius: 0px 5px 0px 0px;
    text-align: right;
    cursor: default;
    height: 40px;
    padding: 0 20px;
}
.change .tit{
    line-height: 40px;
    width: 100px;
    text-align: left;
    color: #ffffff;
    float: left;
}


.white_content {
    display: none;
    position: absolute;
    z-index: 1002;
    overflow: auto;
}
.mod-cent{
    height: 360px;
    background-color:#fff;
    border-radius: 0px 0px 6px 6px;
}
.fullscreen{
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background: #fff;
    display: block;
}


/*.normal-1{

    width: 900px;
    height: 400px;
    display: block;
    position:relative;

    margin-left:-450px;margin-top:-200px;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}*/
.normal-1{
    width: 900px; height:400px; margin-top:-200px; margin-left: -450px; animation-duration: 300ms;
    display: block;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}
/*.normal-1{width: 400px; height: 240px; margin-top: -120px; margin-left: -200px; animation-duration: 300ms;}*/

.normal-2{
    width: 600px; height:400px; margin-top:-200px; margin-left: -300px; animation-duration: 300ms;
    display: block;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}

.foot{
    margin-top: 50px;
    font-size:15px; text-align: center;
}
.foot a{
    margin: 0 10px;
}

.enlarge{width: 20px; height: 20px; margin-top:8px; float: right; font-size: 18px; color: #fff}
.shrink{width: 20px; height: 20px; margin-top:8px; float: right; font-size: 18px; color: #fff}


@-webkit-keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.rodal-flip-enter {
    animation-duration: 300ms;border-radius:6px
-webkit-animation: rodal-flip-enter both ease-in;
    animation: rodal-flip-enter both ease-in;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

/* 组件：选项卡带关闭
========================================================================================= */
.box{width:100%;padding: 0 10px; margin:-33px auto auto auto;}
.box>ul{
    position: relative;
    top: 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*overflow: hidden;/!*清除子元素的浮动对父级元素的影响*!/*/
}
.insw{
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 32px;
    line-height:32px;
    font-size: 15px;
    text-align: center;
    background: #d5dce5;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

.home{
    float: left;
    margin-right: 10px;
    width: 60px;
    height:32px;
    margin-top: 1px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    background: #d5dce5;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}


.box>ul li{
    float: left;
    margin-right: 8px;
    padding: 0 16px;
    height:32px;
    line-height:32px;
    font-size: 15px;
    text-align: center;
    background-color:rgba(255,255,255,0.6);
    border-radius: 6px 6px 0px 0px;
    color: #7f89e6;
    cursor: pointer;
}
.box>ul li.select{
    background: #fff;
    color: #4125e8;
    border-bottom-color:#fff;
    border-radius: 6px 6px 0px 0px;
}

.box .tab-page{
    display: none;

    text-align: center;
    border-radius: 5px;
    clear: both;/*清除哥哥元素的浮动对弟弟的影响*/
}
.box .tab-page.select {
    display: block;
}
.box .sup{
    display:none;
}

.box>ul sup{
    width:8px;height:8px;display:inline-block;top:10px;margin-right:10px;font-size: 8px;position:absolute;float:left; margin-right:-6px;
}

/*
.box>ul sup{
    top:5px;width: 6px; height: 6px; font-size: 8px; position:absolute; float: right; margin-right: 2px;  text-align: right; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
*/
.box3{width:100%;padding: 0 10px; margin:-33px auto auto auto;}
.home-i{
    float: left;
    margin-right: 10px;
    width: 60px;
    height:32px;
    margin-top: 1px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    background: #fff;
    border-radius: 6px 6px 0px 0px;
    color: #634eeb;
    cursor: pointer;
}




/* CSS：index
========================================================================================= */
.container {
    width:100%;
    padding: 10px;
    overflow: hidden;
}
.col1 {
    float:left;
    width:25%;
    padding-right: 10px;
}
.col2 {
    float:left;
    width:50%;
    padding-right: 10px;
}
.col3 {
    float:left;
    width:25%;
}
.index-bd-box{background-color:#fff;-moz-box-shadow:0px 2px 0px #dedfe0; -webkit-box-shadow:0px 2px 0px #dedfe0; box-shadow:0px 2px 0px #dedfe0;}
.hh-pd10{overflow:hidden;padding:10px;}
.hh-pd0{overflow:hidden;padding:0px;}
.mt10 {margin-top: 10px}

/*Punch card*/
.Punch_l{width:80%;height: 50px; float: left}
.Punch_l h1{width:120px;height:30px; line-height:24px; font-size:30px; color:#49a8f3;float:left;padding: 0; margin: 0;}
.Punch_l span{width:80px;height:30px; line-height:28px; font-size: 16px; color:#575656;float:left;padding: 0 0 0 6px; margin: 0;}
.Punch_l p{width:100%;height:20px; font-size: 12px;color:#bdbbbb;float:left;padding: 0; margin: 0;}
.Punch_r{width:58px;height: 50px; float: right}
.Punch_r .dk-btn {width: 58px;  display: inline-block;  margin-bottom: 0;  padding: 16px 1em;  vertical-align: middle;  font-size: 14px;  font-weight: normal;  line-height: 1.2;  text-align: center;  white-space: nowrap;  background-image: none;  border: 1px solid transparent;  border-radius: 0;  cursor: pointer;  outline: none;  -webkit-appearance: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.Punch_r .dk-btn.hh-radius {border-radius: 6px;  }

/*Currency exchange*/
.currency-hd {border-bottom: #eaeef3 solid 1px; height:42px; margin: 0 10px}
.currency-hd h2{padding:0 10px;color:#634eeb;height:42px;line-height:42px;margin:0; padding:0 6px;font-weight: 100;border-bottom: #634eeb solid 1px; display:block;position: absolute}
.currency-bd {padding:0 10px 10px 10px;display:block;}
.currency-bd h2{padding:4px 10px;display:block; margin-bottom: 0px; font-weight: 100; font-size: 14px}
.currency-bd .currency-box{padding:10px 0 0 0;display:block;}
.currency-bd .currency-box .ic-i-switch{font-size: 20px}
.currency-bd .t10{padding-top: 10px}
.currency-bd .dictionary-title{color: #cdcecf}
.currency-btn, .currency-btn-disable {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #333;
}
.select-from-currency, .select-to-currency {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 96px;
    text-align: center;
}
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 4px;
    border-color: #777 transparent transparent;
    border-style: solid;
}
.select-inner {
    width: 100%;
    position: relative;
    z-index: 4;
    left: 0;
}
.currency-selected {
    font-size: 14px;
}
.select-from {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width:96px;
    text-align: center;
}
.ar-btn {width: 58px;  display: inline-block; margin-top: -7px;  margin-bottom: 0;  padding: 5.5px 1em;  vertical-align: middle;  font-size: 14px;  font-weight: normal;  line-height: 1.2;  text-align: center;  white-space: nowrap;  background-image: none;  border: 1px solid transparent;  border-radius: 0;  cursor: pointer;  outline: none;  -webkit-appearance: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.ar-btn.hh-radius {border-radius: 6px;  }

.translate-currency {
    position: absolute;
    width: 360PX;
    margin-top: 2px;
    margin-left: -1px;
    border-radius:6px;
    z-index: 1000;
    background-color: #fff;
    float: left;
    padding: 0px 0px;
    border: 1px solid #dedede;
}
.translate-currency span {display: block; padding-left: 28px; text-align: left; line-height: 20px }
.translate-currency span:hover {background-color: #e9eaeb }
.i-ctab1{width:100%;padding:0; margin:0;}
.i-ctab1>ul{
    top: 1px;
    overflow: hidden;
    height:42px;
    padding: 0px 0px 0 0px;
    margin: 0 10px;
    border-bottom: solid 1px #eaeef3;
    /*overflow: hidden;/!*清除子元素的浮动对父级元素的影响*!/*/
}

.i-ctab1>ul li{
    float: left;
    margin-right: 8px;
    padding: 0 6px;
    height:41px;
    line-height:41px;
    font-size: 15px;
    text-align: center;
    color: #b5c0cd;
    cursor: pointer;
}
.i-ctab1>ul li.select{
    background: #fff;
    color: #4125e8;
    border-bottom: solid 1px #634eeb;
    border-radius: 6px 6px 0px 0px;
}

.i-ctab1 .tab-page{
    display: none;
    width: 100%;
    text-align: center;
    clear: both;/*清除哥哥元素的浮动对弟弟的影响*/
}
.i-ctab1 .tab-page.select {
    display: block;
}


/* header：下拉菜单
========================================================================================= */
/*主导航下拉*/
.menu1 {
    position: absolute;
    z-index: 9999;
    margin-top: -40px;
    width: 100%;
    padding: 10px 0px;
    height: 800px;
    background-color:rgba(255,255,255,0.9);
}
.menu1 .m-box{
    width: 96%;
    margin: auto;
    padding: 10px 0px;
}
.menu1 .m-box ul{
    width: 96%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.menu1 .m-box h2{
    font-size: 16px;
    display: block;
    color: #6751ed;
    float: left;
}
.menu1 .m-box li{
    float:left;
    padding-right:50px;
}
.menu1 .m-box .list{
    width: 100%;
    clear: both;
    display: block;
    float:left;
    height:auto;
}

.menu1 .m-box .list h3{
    display: block;
    width:100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #6751ed;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
}
.menu1 .m-box .list div{
    width:800px;
    line-height: 30px;
    color: #6751ed;
    float: left;
}
.menu1 .m-box .list li{
    width: 100%;
    font-size: 14px;
    color: #6751ed;
    float: left;
}

.menu1 .m-box .list a{
    padding: 0 10px;
    display: block;
    width: 100px;
    line-height: 30px;
    color: #8c949b;
    float: left;
}
.menu1 .m-box .list a:hover{
    display: block;
    background-color: #49a8f3;
    color: #fff;
}


.menu2 {
    position: absolute;
    z-index: 10000;
    width:100px;
    margin-top: -10px;
    padding: 10px 0px;
    border-radius: 6px;
    height:100px;
    background-color:rgba(255,255,255,0.9);
}



/*index News*/
.i-news{width:100%;padding:0; margin:0;}
.i-news>ul{
    top: 1px;
    overflow: hidden;
    height:42px;
    padding: 0px 0px 0 0px;
    margin: 0 10px;
    border-bottom: solid 1px #eaeef3;
    /*overflow: hidden;/!*清除子元素的浮动对父级元素的影响*!/*/
}

.i-news>ul li{
    float: left;
    margin-right: 8px;
    padding: 0 6px;
    height:41px;
    line-height:41px;
    font-size: 15px;
    text-align: center;
    color: #b5c0cd;
    cursor: pointer;
}
.i-news>ul li.select{
    background: #fff;
    color: #4125e8;
    border-bottom: solid 1px #634eeb;
    border-radius: 6px 6px 0px 0px;
}

.i-news .tab-page{
    display: none;
    width: 100%;
    text-align: center;
    clear: both;/*清除哥哥元素的浮动对弟弟的影响*/
}
.i-news .tab-page.select {
    display: block;
}
.i-news .news-list-box {
    margin-left: 0px; padding: 0px 0px;
}
.i-news .news-list-box li{
    margin-left: 0px; padding: 0px 10px;
    height: 36px;
    display: block;
    line-height: 36px;
}
.i-news .news-list-box li:hover{
    background-color: #e9ecfd;
}
.i-news .news-list-box li a{
    width: 70%;
    text-align: left;
    float: left;
}
.i-news .news-list-box li span{
    width: 25%;
    float: right;
    text-align: right;
}
.i-news .tab-page .more {
    text-align: right;
    border-top: #eaeef3 solid 1px;
    margin: 0 10px;
    line-height:42px;
    padding: 0px 0px 4px 0px;
}

/*index Email*/
.i-Email-hd {border-bottom: #eaeef3 solid 1px; height:43px; margin: 0px 10px 0 10px}
.i-Email-hd h2{padding:0 10px;color:#634eeb;height:43px; line-height:43px;margin:0; padding:0 6px;font-weight: 100;border-bottom: #634eeb solid 1px; display:block;position: absolute}
.i-Email-hd h2 .sup{border-radius:12px;height: 15px; line-height: 15px; color: #fff; font-size: 8px; padding: 0 6px; margin-top: -28px; margin-left: 38px; background:#49a8f3;display:block;position: absolute}
.i-Email-hd a{width:35px;height:42px; line-height: 42px; color: #D5DCE5; font-size:30px; display:block; position: relative;float: right}
.i-Email-bd {
    margin-left: 0px; padding: 0px 0px;
}
.i-Email-bd .list {
    padding: 0px 0px;
    height: 56px;
}
.i-Email-bd .list:hover{
    background-color: #e9ecfd;
}
.i-Email-bd .list li{
    margin-left: 0px; padding: 5px 10px 0px 10px;
    height: 24px;
    display: block;
    line-height: 24px;
}

.i-Email-bd .list li a{
    width: 70%;
    font-size: 16px;
    color: #3c4859;
    float: left;
    display: block;
}
.i-Email-bd .list .Enclosure{
    width: 10%;
    font-size: 20px;
    color: #2095f2;
    float: left;
    display: block;
}
.i-Email-bd .list .En2{
    width: 20%;
    font-size: 14px;
    text-align: right;
    color: #9facbd;
    font-weight: 100;
    float: left;
    display: block;
}
.i-Email-bd .list p{
    font-size: 14px;
    padding: 0 10px;
    margin: 0;
    font-weight: 100;
    color: #9facbd;
}
.i-Email-bd .more {
    text-align: right;
    border-top: #eaeef3 solid 1px;
    margin: 0 10px;
    line-height:42px;
    padding: 0px 0px 4px 0px;
}


/*index task*/


.i-task{width:100%;padding:0; margin:0;}
.i-task>ul{
    top: 1px;
    overflow: hidden;
    height:42px;
    padding: 0px 0px 0 0px;
    margin: 0 10px;
    border-bottom: solid 1px #eaeef3;
    /*overflow: hidden;/!*清除子元素的浮动对父级元素的影响*!/*/
}

.i-task>ul li{
    float: left;
    margin-right: 8px;
    padding: 0 6px;
    height:41px;
    line-height:41px;
    font-size: 15px;
    text-align: center;
    color: #b5c0cd;
    cursor: pointer;
}
.i-task>ul li.select{
    background: #fff;
    color: #4125e8;
    border-bottom: solid 1px #634eeb;
    border-radius: 6px 6px 0px 0px;
}

.i-task .tab-page{
    display: none;
    width: 100%;
    text-align: center;
    clear: both;/*清除哥哥元素的浮动对弟弟的影响*/
}
.i-task .tab-page.select {
    display: block;
}

.i-task .tab-page .more {
    text-align: right;
    border-top: #eaeef3 solid 1px;
    margin: 0 10px;
    line-height:42px;
    padding: 0px 0px 4px 0px;
}
.i-task-table td{color: #3c4859}
.i-task-table a{color: #2095f2}
.i-task-table .a1{width: 30%}
.i-task-table .a2{width: 40%}
.i-task-table .a3{width: 30%; text-align: right}

/*index schedule*/
.i-schedule-hd {border-bottom: #eaeef3 solid 1px; height:43px; margin: 0px 10px 0 10px}
.i-schedule-hd h2{padding:0 10px;color:#634eeb;height:43px; line-height:43px;margin:0; padding:0 6px;font-weight: 100;border-bottom: #634eeb solid 1px; display:block;position: absolute}

.i-schedule-bd {
    margin-left: 0px; padding: 0px 10px;overflow: hidden;
}
.i-schedule-bd .year{
    line-height: 38px;
}
.i-schedule-bd .year .a-lf{
    width:10%;
    display: block;
    float: left;
}
.i-schedule-bd .year .y-m{
    width:80%;
    display: block;
    text-align: center;
    float: left;
}
.i-schedule-bd .year .a-rg{
    width:10%;
    display: block;
    float: left;
    text-align: right;

}
.i-schedule-bd .week{
    line-height: 38px;
    text-align: center;
}
.i-schedule-bd .week .hd{
    color: #9facbd;

}
.i-schedule-bd .week .p-b10{
    padding-bottom: 10px;
}
.i-schedule-bd .week .current{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #49a8f3;
    color: #fff;
}
.i-schedule-bd .week .current span{
    width:50px;height:3px;display:block;font-size:12px;line-heigth:3px;text-align:center;color:#fff;margin:-24px auto auto auto;text-decoration:none
}


.i-schedule-bd .week .Expired{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #afbac9;
}
.i-schedule-bd .week .Expired span{
    width:50px;height:3px;display:block;font-size:12px;line-heigth:3px;text-align:center;color:#afbac9;margin:-24px auto auto auto;text-decoration:none
}

.i-schedule-bd .week .not-Expired{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #3c4859;
}
.i-schedule-bd .week .not-Expired span{
    width:50px;height:3px;display:block;font-size:12px;line-heigth:3px;text-align:center;color:#49a8f3;margin:-24px auto auto auto;text-decoration:none
}
.i-schedule-list{
    height: 28px;
    line-height: 28px;
    list-style-type:none;
    color: #afbac9;
}
.i-schedule-list .Expired{
    line-height: 28px;
    list-style-type:none;
    color: #afbac9;
}
.i-schedule-list .Expired .lf{
    width: 75%;
    float: left;
}
.i-schedule-list .Expired .rg{
    width: 25%;
    text-align: right;
    float: right;
}


.i-schedule-list .not-Expired{
    height: 28px;
    line-height: 28px;
    list-style-type:none;
    color: #3c4859;
}
.notE-hover{
    background-color:;
    border-radius: 12px;
    color: #333;
}

.i-schedule-list .not-Expired a{
    color: #3c4859;
}
.i-schedule-list .not-Expired .lf{
    width: 75%;
    float: left;
}
.i-schedule-list .not-Expired .rg{
    width: 25%;
    text-align: right;
    float: right;
}






.schedule-list-box {
    margin-left: 0px; padding: 0px 0px;
}
.schedule-list-box li{
    margin-left: 0px; padding: 0px 10px;
    height: 36px;
    display: block;
    line-height: 36px;
}

.schedule-list-box .Expired{
    line-height: 36px;
    list-style-type:none;
    color: #afbac9;
}

.schedule-list-box li a{
    width: 60%;
    float: left;
}
.schedule-list-box li span{
    width: 30%;
    float: right;
}
.schedule-list-box .lf{
    width: 75%;
    float: left;
}
.schedule-list-box .rg{
    width: 25%;
    float: right;
    text-align: right;
}
.schedule-list-box li:hover{
    background-color: #e9ecfd;
    border-radius: 18px;
    display: block;
}
.i-schedule-list .Expired{
    line-height: 28px;
    list-style-type:none;
    color: #afbac9;
}




.i-schedule-bd .more {
    text-align: right;
    border-top: #eaeef3 solid 1px;
    margin: 0 0px;
    line-height:42px;
    overflow: hidden;clear: both;
    padding: 0px 0px 4px 0px;
}
