/* �������б��Ϸ�����
========================================================================================= */
.search-nav {height:60px; margin-top:14px; border-bottom: solid 1px #e9edf2; text-align: left; color: #8c949b}
.search-nav i{font-size: 15px}
.search-nav .name{border: none; height: 36px; line-height: 36px;border-radius: 6px; padding-left: 6px; padding-right: 6px; background: #f7f7f7}
.search-nav span{display: block; margin-left: 6px; margin-right: 6px; display: inline-block }


/* �������б��Ϸ�icons
========================================================================================= */
.icon-nav {height:42px; border-bottom:solid 1px #e9edf2;}
.icon-nav ul li{padding-bottom: 0; margin-top:8px;}
.icon-nav .btn {display:block; float:left;padding-left: 10px; padding-right: 10px;}
.icon-nav .rt{width:126px;float: right}

/* ������ģ̬��
========================================================================================= */
/*��������*/
.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 0;
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}

.enlarge{width: 20px; height: 20px; margin-top:10px; float: right; }
.shrink{width: 20px; height: 20px; margin-top:10px; float: right;}


@-webkit-keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.rodal-flip-enter {
    -webkit-animation: rodal-flip-enter both ease-in;
    animation: rodal-flip-enter both ease-in;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

.change{
    background-color: #a295f4;
    border-radius: 0px 5px 0px 0px;
    text-align: right;
    cursor: default;
    height: 40px;
    padding: 0 20px;
}
.change .tit{
    line-height: 40px;
    width: 100px;
    text-align: left;
    color: #ffffff;
    float: left;
}


.white_content {
    display: none;
    position: absolute;
    z-index: 1002;
    overflow: auto;
}
.mod-cent{
    height: 360px;
    background-color:#fff;
    border-radius: 0px 0px 6px 6px;
}
.fullscreen{
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background: #fff;
    display: block;
}


/*.normal-1{

    width: 900px;
    height: 400px;
    display: block;
    position:relative;

    margin-left:-450px;margin-top:-200px;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}*/
.normal-1{
    width: 900px; height:400px; margin-top:-200px; margin-left: -450px; animation-duration: 300ms;
    display: block;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}
/*.normal-1{width: 400px; height: 240px; margin-top: -120px; margin-left: -200px; animation-duration: 300ms;}*/

.normal-2{
    width: 600px; height:400px; margin-top:-200px; margin-left: -300px; animation-duration: 300ms;
    display: block;
    position:fixed;left:50%;rigth:50%;top:50%;bottom:50%;
}

.foot{
    margin-top: 50px;
    font-size:15px; text-align: center;
}
.foot a{
    margin: 0 10px;
}

.enlarge{width: 20px; height: 20px; margin-top:8px; float: right; font-size: 18px; color: #fff}
.shrink{width: 20px; height: 20px; margin-top:8px; float: right; font-size: 18px; color: #fff}


@-webkit-keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes rodal-flip-enter {
    from {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    }
    70% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    }
    to {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.rodal-flip-enter {
    animation-duration: 300ms;border-radius:6px
    -webkit-animation: rodal-flip-enter both ease-in;
    animation: rodal-flip-enter both ease-in;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}

/* ������ѡ����ر�
========================================================================================= */
.box{width:100%;padding: 0 10px; margin:-33px auto auto auto;}
.box>ul{
    position: relative;
    top: 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*overflow: hidden;/!*������Ԫ�صĸ����Ը���Ԫ�ص�Ӱ��*!/*/
}
.insw{
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 32px;
    line-height:32px;
    font-size: 15px;
    text-align: center;
    background: #d5dce5;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}

.home{
    float: left;
    margin-right: 10px;
    width: 60px;
    height:32px;
    margin-top: 1px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    background: #d5dce5;
    border-radius: 6px 6px 0px 0px;
    cursor: pointer;
}


.box>ul li{
    float: left;
    margin-right: 8px;
    padding: 0 16px;
    height:32px;
    line-height:32px;
    font-size: 15px;
    text-align: center;
    background-color:rgba(255,255,255,0.6);
    border-radius: 6px 6px 0px 0px;
    color: #7f89e6;
    cursor: pointer;
}
.box>ul li.select{
    background: #fff;
    color: #4125e8;
    border-bottom-color:#fff;
    border-radius: 6px 6px 0px 0px;
}

.box .tab-page{
    display: none;

    text-align: center;
    border-radius: 5px;
    clear: both;/*��������Ԫ�صĸ����Եܵܵ�Ӱ��*/
}
.box .tab-page.select {
    display: block;
}
.box .sup{
    display:none;
}

.box>ul sup{
    width:8px;height:8px;display:inline-block;top:10px;margin-right:10px;font-size: 8px;position:absolute;float:left; margin-right:-6px;
}

/*
.box>ul sup{
    top:5px;width: 6px; height: 6px; font-size: 8px; position:absolute; float: right; margin-right: 2px;  text-align: right; font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
*/
.box3{width:100%;padding: 0 10px; margin:-33px auto auto auto;}
.home-i{
    float: left;
    margin-right: 10px;
    width: 60px;
    height:32px;
    margin-top: 1px;
    line-height: 32px;
    font-size: 15px;
    text-align: center;
    background: #fff;
    border-radius: 6px 6px 0px 0px;
    color: #634eeb;
    cursor: pointer;
}
#container1 {
    width:100%;
    padding: 10px;
    overflow: hidden;
}
#col1 {
    float:left;
    width:25%;
    padding-right: 10px;
}
#col2 {
    float:left;
    width:50%;
    background:yellow;
}
#col3 {
    float:left;
    width:25%;
    background:green;
}
.ibo{overflow:hidden;padding:10px;border-radius:6px;background-color:#fff;-moz-box-shadow:0px 2px 0px #dedfe0; -webkit-box-shadow:0px 2px 0px #dedfe0; box-shadow:0px 2px 0px #dedfe0;}
.mt10 {margin-top: 10px}

.time-box-lf{width:180px;height: 50px; float: left}
.time-box-lf h1{width:100px;height:28px; line-height:24px; font-size:24px; color:#49a8f3;float:left;padding: 0; margin: 0;}
.time-box-lf span{width:80px;height:28px; line-height:28px; font-size: 10px; color:#575656;float:left;padding: 0; margin: 0;}
.time-box-lf p{width:100px;height:20px; font-size: 10px;color:#bdbbbb;float:left;padding: 0; margin: 0;}
.time-box-rg{width:58px;height: 50px; float: right}
.dk-btn {width: 58px;  display: inline-block;  margin-bottom: 0;  padding: 16px 1em;  vertical-align: middle;  font-size: 14px;  font-weight: normal;  line-height: 1.2;  text-align: center;  white-space: nowrap;  background-image: none;  border: 1px solid transparent;  border-radius: 0;  cursor: pointer;  outline: none;  -webkit-appearance: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.dk-btn.hh-radius {border-radius: 6px;  }

.currency-top {border-bottom: #eaeef3 solid 1px; height:36px;}
.currency-top h2{padding:0 10px;color:#634eeb;height:36px;margin:0; padding:0;border-bottom: #634eeb solid 1px; display:block;position: absolute}
.currency-cen {padding:0 10px;display:block;}
.currency-cen .cr-box{padding:10px 0 0 0;display:block;}
.currency-cen .t10{padding-top: 10px}
.currency-cen .dictionary-title{color: #cdcecf}
.language-btn, .language-btn-disable {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    color: #333;
}
.select-from-language, .select-to-language {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width: 96px;
    text-align: center;
}
.arrow-down {
    display: inline-block;
    width: 0;
    height: 0;
    font-size: 0;
    border-width: 4px;
    border-color: #777 transparent transparent;
    border-style: solid;
}
.select-inner {
    width: 100%;
    position: relative;
    z-index: 4;
    left: 0;
}
.language-selected {
    font-size: 14px;
}
.select-from {
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    width:96px;
    text-align: center;
}
.ar-btn {width: 58px;  display: inline-block; margin-top: -7px;  margin-bottom: 0;  padding: 5.5px 1em;  vertical-align: middle;  font-size: 14px;  font-weight: normal;  line-height: 1.2;  text-align: center;  white-space: nowrap;  background-image: none;  border: 1px solid transparent;  border-radius: 0;  cursor: pointer;  outline: none;  -webkit-appearance: none;  -webkit-user-select: none;  -moz-user-select: none;  -ms-user-select: none;  user-select: none;  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.ar-btn.hh-radius {border-radius: 6px;  }

.translate-language {
    position: absolute;
    width: 96px;
    margin-top: -5px;
    margin-left: -1px;
    border-radius: 0px 0px 6px 6px;
    z-index: 1000;
    background-color: #fff;
    float: left;
    padding: 0px 0px;
    border: 1px solid #dedede;
    border-top: none;
}
.translate-language span {display: block; padding-left: 28px; text-align: left; line-height: 20px }
.translate-language span:hover {background-color: #e9eaeb }




.menu1 {
    position: absolute;
    z-index: 9999;
    margin-top: -46px;
    width: 100%;
    padding: 10px 0px;
    height: 800px;
    background-color:rgba(255,255,255,0.9);
}
.menu2 {
    position: absolute;
    z-index: 10000;
    width:100px;
    padding: 10px 0px;
    border-radius: 6px;
    height:100px;
    background-color:rgba(73,168,243,0.9);
}
